@tailwind base;
@tailwind components;
@tailwind utilities;

.article-content #article-content {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.article-content #article-content h1 {
    font-size: 2rem;
    font-weight: revert;
    line-height: 2;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
    margin: revert;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.25;
}

.article-content #article-content h2 {
    font-size: 1.5rem;
    font-weight: revert;
    line-height: 2;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
    margin: revert;
    margin-bottom: 16px;
    line-height: 1.25;
}

.article-content #article-content h3 {
    font-size: 1.25rem;
    font-weight: revert;
    line-height: 2;
    padding-bottom: 0.3em;
    margin: revert;
    margin-bottom: 16px;
    line-height: 1.25;
}

.article-content #article-content h4 {
    font-size: 1rem;
    font-weight: revert;
    line-height: 2;
    padding-bottom: 0.3em;
    margin: revert;
    margin-bottom: 16px;
    line-height: 1.25;
}

.article-content #article-content h5 {
    font-size: revert;
    font-weight: revert;
    line-height: 2;
    padding-bottom: 0.3em;
    margin: revert;
    margin-bottom: 16px;
    line-height: 1.25;
}

.article-content #article-content h6 {
    font-size: revert;
    font-weight: revert;
    line-height: 2;
    padding-bottom: 0.3em;
    margin: revert;
    margin-bottom: 16px;
    line-height: 1.25;
}

.article-content #article-content a {
    font-size: revert;
    font-weight: revert;
    color: #0366d6;
    margin: revert;
}

.article-content #article-content p {
    font-size: revert;
    font-weight: revert;
    margin: revert;
    margin-top: 0;
    margin-bottom: 16px;
}

.article-content #article-content blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
    margin-top: revert;
    margin-bottom: revert;
}

.article-content #article-content pre {
    padding: 0 16px 0 16px;
    overflow: auto;
    margin: revert;
}

.article-content #article-content table {
    display: block;
    width: 100%;
    overflow: auto;
    margin: revert;
}

.article-content #article-content table th {
    font-weight: 600;
    margin: revert;
}

.article-content #article-content table th,
.article-content #article-content table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    margin: revert;
}

.article-content #article-content table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
    margin: revert;
}

.article-content #article-content table tr:nth-child(2n) {
    background-color: #f6f8fa;
    margin: revert;
}

.article-content #article-content table img {
    background-color: transparent;
    margin: revert;
}

.article-content #article-content ol {
    list-style: revert;
    margin: revert;
    padding: revert;
}
.article-content #article-content ul {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.article-content #article-content code {
    margin: 0;
    padding: 0.2em 0.4em;
    font-size: 85%;
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    background-color: #e8e8e8;
    white-space: break-spaces;
    border-radius: 6px;
}

.article-content #article-content pre code {
    padding: revert;
    margin: 0;
    font-size: 85%;
    font-family:
        ui-monospace,
        SFMono-Regular,
        SF Mono,
        Menlo,
        Consolas,
        Liberation Mono,
        monospace;
    background-color: revert;
    white-space: break-spaces;
    border-radius: 6px;
}

.article-content #article-content pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    border-radius: 6px;
}
