{% for article in articles %}
<div class="card bg-base-100 shadow-xl mb-5 lg:ml-20 lg:mr-20 rounded-lg select-none cursor-pointer hover:bg-base-300">
    <a href="/blog?filename={{article.url}}&commit={{article.commit}}">
        <div class="card-body">
            <div class="flex lg:flex-row flex-col gap-2">
                <h1 class="card-title justify-start grow">{{article.name}}</h1>
                <h2 class="text-sm justify-end">{{article.date}}</h2>
            </div>
            <p>{% match article.intro %} {% when Some with(intro) %} {{intro}} {% when None %} {% endmatch %}</p>
        </div>
    </a>
</div>
{% endfor %}
