<div class="pt-5 pl-5 pr-5 min-h-[100dvh]">
    {% for article in articles %}
    <div
        class="card bg-base-100 shadow-xl mb-5 lg:ml-20 lg:mr-20 rounded-lg select-none cursor-pointer hover:bg-base-300 transition-colors">
        <a
            href="/blog?filename={{article.url}}&commit={{article.commit}}"
            hx-get="/article?filename={{article.url}}&commit={{article.commit}}"
            hx-swap="transition:true show:window:top"
            hx-target="#content"
            hx-push-url="/blog?filename={{article.url}}&commit={{article.commit}}">
            <div class="card-body z-30">
                <div class="flex lg:flex-row flex-col gap-2">
                    <h1 class="card-title justify-start grow transition-colors">{{article.name}}</h1>
                    <h2 class="text-sm justify-end">{{article.date}}</h2>
                </div>
                <p>{% match article.intro %} {% when Some with(intro) %} {{intro}} {% when None %} {% endmatch %}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
